/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  height: 100%;
  margin: 0;
  padding: 0;
  border: none; }

body {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Source Sans Pro', 'sans-serif';
  font-size: 24px;
  line-height: 1.25; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', 'sans-serif';
  line-height: 1.25; }

h1 {
  font-size: 2.5em; }

h2 {
  font-size: 2.1em; }

h3 {
  font-size: 1.8em; }

body {
  background: whitesmoke; }

a:link:hover {
  text-decoration: underline; }
a:link, a:visited {
  text-decoration: none;
  color: black; }
  a:link:active, a:link:active, a:visited:active, a:visited:active {
    text-decoration: underline; }

.header {
  background: black;
  color: whitesmoke; }

.footer {
  background: black;
  color: whitesmoke;
  height: 60px;
  line-height: 60px; }

.medium {
  width: 50%; }

.divider {
  border: 2px solid whitesmoke; }

.menu {
  display: flex;
  justify-content: center; }
  .menu a {
    min-width: 250px;
    height: 2.1em;
    line-height: 2.1em;
    padding: 15px 10px;
    margin: 5px 0px;
    color: whitesmoke;
    text-align: center; }
    .menu a h2 {
      border: 1px solid transparent;
      margin: 0; }
    .menu a:hover {
      color: darkgray;
      text-decoration: none; }

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .categories .category {
    background-color: black;
    color: whitesmoke;
    height: 200px;
    line-height: 200px;
    min-width: 380px;
    margin: 20px 20px;
    text-align: center; }
    .categories .category h4 {
      height: 200px;
      line-height: 200px; }

.share-buttons div {
  display: inline-block;
  margin: 0px 5px; }

.back-button {
  text-align: left; }

.gallery {
  width: 75%;
  height: 350px;
  margin: 15px auto;
  background-color: gray; }

.header {
  margin: 0; }
  .header .title {
    display: flex;
    flex-direction: column;
    align-items: center; }

.footer {
  margin: auto;
  margin-top: 20px;
  width: 100%;
  bottom: 0;
  text-align: center;
  position: relative; }

/*@import "base/module";
@import "utils/_module";
@import "themes/module";
@import "components/module";
@import "layout/module";
@import "pages/module";*/

/*# sourceMappingURL=global-styles.css.map */
